PORT=3000
NODE_ENV=development

# MatuDB con @devjuanes/matuclient
MATUDB_URL=https://matudb-api.huakar.cloud
MATUDB_PROJECT_ID=01d7fb93-486a-445d-b5ae-e307166aeba3
MATUDB_API_KEY=mb_9f9664f50334565572cd76c2b4cb6d8999d276358e8649853ba282a09a10b602
MATUDB_USE_SUPABASE=false

# WhatsApp
WHATSAPP_ENABLED=true
WHATSAPP_PHONE_FREE=573023580862@c.us
WHATSAPP_PHONE_VIP=573023580862@c.us
CHROME_EXECUTABLE_PATH=

# Logs / jobs
LOG_LEVEL=info
ENABLE_CRON=true
FACTORY_SPORTS=football,basketball,tennis,baseball,mma,hockey
FACTORY_TIMEZONE=America/Bogota

# Redis opcional (no obligatorio en este scaffold)
REDIS_URL=redis://localhost:6379
